@font-face {
    font-family: 'bytes';
    src: url(bytebounce/ByteBounce.ttf);
}
@font-face {
    font-family: 'techno';
    src: url(Share_Tech_Mono/ShareTechMono-Regular.ttf);
}

* {
    background-color: black;
}

body {
    background: url(cool-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    font-family: 'techno', sans-serif;
}

.text-color {
    color: aquamarine;
}

.container {
    margin: 100px auto;
    width: 75%;
    padding: 8px;
}

.profile-pic {
    float: left;
    width: 250px;
    height: 250px;
    padding: 0 10px 0 0;
    border-radius: 50%;
    shape-outside: circle(50%);
}

.intro {    
    text-align: justify;
    font-size: large;
}

#links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    margin-right: 1500px;
}

li {
    float: left;
    border-right: 1px solid black;
}

li a {
    display: block;
    color: aquamarine;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
}

li a:hover {
    color: red;
}

.active {
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* h1 {
    display: inline-block;
} */

.socials {
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

.socials a svg {
    height: 32px;
    fill: aquamarine;
}

.socials a {
    height: 64px;
    width: 64px;
    padding: 1em;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgb(214, 135, 214);
}

.socials a::before {
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px;
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}

.socials a:hover svg {
    fill: var(--accent-color);
}

.socials a::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid var(--accent-color);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}

.socials a:hover::before {
    transform: translateY(-65px) rotate(0deg);
    opacity: 1;
}

.socials a:hover::after {
    transform: translateY(-45px) rotate(0);
    opacity: 1;
}

hr{
    border: 2px solid aquamarine;
}

#intro {
    /* position: relative; */
    text-align: center;
}

.resume {
    padding-left: 400px;
    padding-right: 400px;
}

.tab1 {
        display: inline-block;
        margin-left: 650px;
}

.tab2 {
        display: inline-block;
        margin-left: 500px;
}

.tab3 {
    display: inline-block;
    margin-left: 840px;
}

.tab4 {
    display: inline-block;
    margin-left: 860px;
}

ul li  {
    padding: 5px 0px;
}
